.projectService .projectService-content {
    flex-direction: column;

    & .row {
        margin: 0;
    }

    & .column {
        & .checkbox {
            margin-right: 5px;
        }
    }

    &.proj-state .column .checkbox {
        min-width: 300px;

        &.group-checkbox {
            width: 300px;

            & label {
                line-height: 15px;
            }
        }
    }
}

.engineers-content .column .checkbox {
    min-width: 170px;
}

.region-select {
    & .jq-selectbox {
        & .jq-selectbox__dropdown {
            width: 50%;
        }
    }
}

.my-requests-tbody tbody tr:hover{
    cursor: pointer;
}

.tableAdaptive .show-event-table{
    & tr th, & tr td {
        padding: 30px 7px 30px 14px;
    }
}

/* Select options scroll view */

.select-wrapper {
    & ul {
        overflow: scroll;
        height: 250px;
        overflow-x: hidden;
    }
}

.engineers-tasks {
    & .jq-selectbox__dropdown {
        width: 50%;
    }
}

/* Clients request page */
.calculations .tableAdaptive.clients-request-calc-table .table-p{
    margin-right: 20px;
    & tbody tr:hover {
        cursor: pointer;
        background-color: #ffffcc;
        transition-duration: .4s;
    }
}

button.btn.update-req-status {
    margin: 0 5px;
    min-width: 110px;
}

.events-bottom.event-client-request-content {
    & .jq-selectbox .jq-selectbox__dropdown {
        width: auto;
    }
}

#psrequest_status_new_form {
    .jq-selectbox .jq-selectbox__select {
        width: 50%;
    }

    & input.file {
        width: auto;
        border: none;
        height: 25px;
        margin-top: 5px;
    }

    & input.field-file-url, & input.field-date-execution {
        width: 50%;
        margin-top: 5px;
    }
}

.calculations.inner-calc {
    & .calculations-title {
        font-weight: 800;
        margin: 25px 0 5px 0;
    }
}

.new-directory, div.project_files_form {
    display: none;
    & .new-directory-title {
        font-size: 16px;
        font-weight: 600;
        color: $green;
    }

    & .dir-name-label {
        color: $green;
    }
}

input#project_files_form_name {
    width: 50%;
    height: 32px;
    padding: 3px;
}
