.projectService .projectService-content {
    flex-direction: column;

    & .row {
        margin: 0;
    }

    & .column {
        & .checkbox {
            margin-right: 5px;
        }
    }

    &.proj-state .column .checkbox {
        min-width: 300px;
    }
}

.my-requests-tbody tbody tr:hover{
    cursor: pointer;
}

.tableAdaptive .show-event-table{
    & tr th, & tr td {
        padding: 30px 7px 30px 14px;
    }
}

